*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
   
    
}

body{
    background-color:#ddd;
}
/*sekcja header*/
header{
   
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    background-color:#F4BA00;
    position:relative;
    top:0;
    left:0;
    overflow-x:hidden;
    color:white;
    z-index;1;
    
}

header img{
  width: 100%;
}

.hamburger, .cross{
    position:fixed;
    right:1%;
    top:0%;
    font-size:2rem;
    z-index:1000000000;
    display:none;
}

.flex-nav a
{
    color: #00f4ba;
    font-weight:400;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 30px 5px;
    display: inline-block;
    width: 100%;
    text-align:center;
    transition: all 0.5s;

}
.flex-nav a:hover{
    color: #8000a8;
}
.flex-nav li:hover{
    background-color:#00f4ba;
    color: #8000a8;
    border-radius:5px;
}

.flex-nav ul{
    position:fixed;
    right:0;
    
    top:0;
    bottom:0;
    width:100%;
    height:10vh;
    
   
    background-color:#ba00f4;
    
    border: 1px solid #8000a8;
    display:flex;
    flex:3;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    z-index:3;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
   
    
    
}

.flex-nav li{
    display:block;
    background-color:#ba00f4ba;
    border-bottom:1px solid #8000a8;
    text-transform:uppercase;
    font-size:1.3em;
    border-right:1px solid #8000a8;
    box-shadow: 1px 0px 0px 0px #8000a8;
    align-items:center;
    flex:3;
}

header hgroup{
    position:absolute;
    top:50%;
    left:50%;
    z-index:2;
    text-align:center;
    text-transform:uppercase;
    line-height:1.5;
    
}

header h1{
    font-size:3em;
}

header h3{
    font-size:1.5em;
}

.arrow{
    width:70px;
    height:70px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
    font-size:2rem;
    text-align:center;
    animation: arrowColor 2s infinite reverse;
    display:none;
   
}


#arrow:hover{
    text-shadow:0 15px 0 white, 0 30px white;
    
}
/*zaczyna się main*/
.aboutme, .hobby, .gallery, .contact{
    max-width: 1170px;
    min-height:100vh;
    margin-left:auto;
    margin-right:auto;
    background-color:#F4BA00;
    position:relative;
    z-index:2;

}

/*nagłówki sekcji*/
h2{
    text-align:right;
    text-transform:uppercase;
    padding:10% 5em 2em;
    color:#ba00f4
}
h2::after{
    content:"";
    display:block;
    width:70%;
    height:1px;
    
    margin-bottom:3%;
    background-color:#00dba7;
    
}


/* sekcjaaboutme*/

.aboutmeText{
    line-height:2;
    
    margin-left:10%;
    margin-right:10%;
    text-align:justify;
}
.aboutmeText img{
    float:left;
    padding:0 2em 0 0 ;
   
}
/*sekcja hobby*/
.hobbyWrapper{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding: 0 2em;
}

.box1{
    background-image:url('../img/t2.jpg');
}
.box4{
    background-image:url('../img/t1.jpg');
}
.box5{
    background-image:url('../img/t3.jpg');
}
.box1, .box4, .box5{
    background-size:cover;
    min-height:50vh;
    background-repeat:no-repeat;
}
.box2, .box3, .box6{
    padding:2em;
    text-align:justify;
    line-height:1.5;
    background-color:#ba00f4;
    color:white;
}
.box3{
    background-color:#00dba7;
}
.box1, .box2, .box3, .box4, .box5, .box6{
    flex-basis:50%;  
}
.hobbyWrapper img{
    width:100%;
}
/*css galeria*/
.galleryWraper{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:5em;
    z-index:4;
}

.picture{
    background:white;
    padding:10px;
    opacity:0.8;
    border-radius: 5px;
    box-sizing:border-box;
    border: 1px solid silver;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    width:20em;
    height:25em;
    transition: all 0.3s linear;
   }
.picture img{
    flex-basis:100%;
    width:80%;
}
.picture figcaption{
    flex-basis:100%;
    margin-top:10px;
    overflow-wrap:break-word;
    font-size:0.6em;
}
.picture:hover{
    opacity:1;
    transform:scale(1.2);
    z-index:3000;
}
.picture img{
    width:60%;
    align-self:center;
}
.picture figcaption{
    font-size:13px;
    text-align: center;
    line-height: 1.5;
    align-self: flex-start;
}
/*sekcja contact*/
.contact {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
 h3,ul {
    margin: 0;
}
h3 {
    margin-bottom: 1rem;
}
  
input:focus,textarea:focus {
    outline: 3px solid gold;
} 
input,textarea,button {
    width: 100%;
    border: 1px solid #000;
}
.contactWrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding:50px;
}
.contactWrapper > * {
    padding: 1em;
}
ul {
    list-style: none;
    padding: 0;
}
.contacts {
    background: #ba00f4;
    color:white;
}
.form {
    background: #fff;
    display: grid;
    grid-gap: 20px;
}
form label {
    display: block;
}
form p {
    margin: 0;
}
.full-width {
    grid-column: 1 / 3;
}
button,input,textarea {
    padding: 1em;
}
button {
    background: #ba00f4;
    width: 100%;
    border: 0;
}
button:hover, button:focus {
    background: #00dba7;
    outline: 0;
}
/*zapytania o media*/
@media(orientation: portrait){
    h3 span::after{
        content: '\A';
        white-space: pre;
    }
.aboutmeText{
        margin-top:20%;
    }
}
@media(min-width:375px) and (max-width:1023px) and (orientation:landscape){
    .flex-nav ul{
        flex-direction:row;
        height: 15vh;
        justify-items:flex-start;
        opacity:1;
        top:0;
        right:0;
        font-size:0.5em;
    }
}
@media(max-width: 599px) and (orientation:portrait) {
    .flex-nav ul{
        flex-direction:column;
        width:65%;
        min-height: 50vh;
        justify-items:flex-start;
        opacity:1;
        top:0;
        right:0;
        font-size:0.8em;
    }
    header{
        height:100vh;
    }
    header img{
        position:absolute;
        left:0;
        bottom:0;
    }
    header hgroup{
        top:30%;
        left:30%;
    }
    header h1{
        margin-bottom:10%;
        font-size:1.5rem;
    }
    header h3{
        font-size:1rem;
    }
    .arrow{
        display:block;
    }
    h2{
        font-size:1em;
        padding: 1em;
    }
    .aboutmeText{
        display:flex;
        flex-direction:column;
    }
    .aboutmeText img {
       width:100%;
       padding:0;
    }

    .hobbyWrapper{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .box1, .box4, .box5{
        min-height:300px;
    }
    .box1, .box2, .box3, .box4, .box5, .box6{
        flex-basis:100%;
    }
    .box1{
        order:1;
    }
    .box2{
        order:2;
    }
    .box3{
        order:4;
    }
    .box4{
        order:3;
    }
    .box5{
        order:5;
    }
    .box6{
        order:6;
    }
    h2{
        padding-top:15%;
    }
    .contactWrapper{
        padding:0;
    }
    .arrow{
        display:block;
    }
}
@media (min-width: 700px) {
    .contactWrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content:center; 
    }
    .contactWrapper > * {
      padding: 2em 2em;
    }
}
@media(min-width: 600px) and (max-width:1023px) and (orientation:portrait){
    .flex-nav ul{
        flex-direction:column;
        width:65%;
        height: 10vh;
        justify-items:flex-start;
        opacity:1;
        top:0;
        right:0;
        font-size:0.8em;
        display:none;
    }
    header{
        height:100vh;
    }
    header img{
        position:absolute;
        left:0;
        bottom:0;
    }
    header h1{
        font-size:3rem;
    }
    header h3{
        font-size:1.5rem;
    }
    .hobbyWrapper{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .box1, .box4, .box5{
        min-height:300px;
    }
    .box1, .box2, .box3, .box4, .box5, .box6{
        flex-basis:100%;    
    }
    .box1{
        order:1;
    }
    .box2{
        order:2;
    }
    .box3{
        order:4;
    }
    .box4{
        order:3;
    }
    .box5{
        order:5;
    }
    .box6{
        order:6;
    }
    .contactWrapper{
        padding:50px;
    }
    h2{
        padding-top:15%;
    }
    .arrow{
        display:block;
    }
}

@media (min-width:1024px){
    .picture:nth-child(odd){
        transform:rotate(5deg);
    }
    .picture:nth-child(even){
        transform:rotate(-5deg);
    }
    .picture:hover{
        opacity:1;
        transform:scale(1.2);
        z-index:3000;
    }
}
   
  
    


 

    

   

    
    
    


    


@keyframes arrowColor{
    0% { text-shadow:0 15px 0 white, 0 30px 0 white}
    100% {color:white}

}