*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
   
    
}

body{
    background-color:#eee;
}
/*sekcja header*/
header{
    height: 100vh;
    max-width: 1170px;
    margin-left:auto;
    margin-right:auto;
    background-color:#F4BA00;
    position:relative;
    top:0;
    left:0;
    overflow-x:hidden;
    color:white;
    z-index;1;
    
}

header img{
    height:70vh;
    position:absolute;
    bottom:0;
    right:-55%;
}

.hamburger, .cross{
    position:absolute;
    right:1%;
    top:0%;
    font-size:2rem;
    z-index:1000000000;
    display:none;
}

.flex-nav a{
    color: white;
    font-weight:400;
    letter-spacing: 2px;
    text-decoration: none;
    
    padding: 30px 5px;
    display: inline-block;
    width: 100%;
    text-align:center;
    transition: all 0.5s;

}

.flex-nav li:hover{
    background-color:#444;

}

.flex-nav ul{
    position:absolute;
    top:0;
    right:0;
    background-color: #222;
    opacity:0.75;
    height:100vh;
    width:45VW;
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction:column;
    z-index:3;
    display:none;
    
    
}

.flex-nav li{
    display:block;
    border-bottom:1px solid #333;
    border-radius:5%;
}

header hgroup{
    position:absolute;
    top:25%;
    left:25%;
    z-index:2;
    text-align:center;
    text-transform:uppercase;
    line-height:1.5;
    
}

header h1{
    font-size:2rem;
}

header h3{
    font-size:1.5rem;
}

.arrow{
    width:70px;
    height:70px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
    font-size:2rem;
    text-align:center;
    animation: arrowColor 2s infinite reverse;
   
}


#arrow:hover{
    text-shadow:0 15px 0 white, 0 30px white;
    
}
/*zaczyna się main*/
.aboutme, .hobby, .gallery, .contact{
    max-width: 1170px;
    min-height:100vh;
    margin-left:auto;
    margin-right:auto;
    background-color:rgba(244, 186, 0, 0.4);
    position:relative;
    z-index:2;

}

/*aboutmepage*/
.m-halfbleed{
    
    display: flex;
   
}
    
.element1, .element2{
      flex:1;
      flex-basis:  100%;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
}
.element1 h2{
    background-color: #222;
    text-align:center;
    text-transform:uppercase;
} 
.element1{
        color:#fff;
        
        border-radius:10px;
      }
.element2{
       
        color: black;
        line-height:2;
        text-align:justify;
        padding:15%;
      }
      

.m-halfbleed img{
margin-top:30px;
display: block;
max-width: 85%;
margin:20% auto 0;
}
/*sekcja hobby*/
.hobbyWrapper{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}
.box1, .box2, .box3, .box4, .box5, .box6{
    margin: 0;
    border: 1px solid #000000;
    color: #ffffff;
    
}

.hobbyWrapper img{
    width:100%;
}

/*css galeria*/
.galleryWraper{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:20px;
    margin-bottom:20px;



}

.picture{
    margin:10px;
    width:80%;
    background:white;
    padding:10px;
    opacity:0.8;
    border-radius: 5px;
    box-sizing:border-box;
    border: 1px solid silver;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
    transition: all 0.3s linear;
}

.picture img{
    flex-basis:100%;
    width:80%;
}

.picture figcaption{
    flex-basis:100%;
    margin-top:10px;
    overflow-wrap:break-word;
    font-size:14px;
}

.picture:hover{
    opacity:1;
    transform:scale(1.1);
}


    

 /*sekcja contact*/
.contact {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  @media (min-width: 700px) {
    .contact {
      padding: 10%;
    }
  }
  
  h3,
  ul {
    margin: 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  input:focus,
  textarea:focus {
    outline: 3px solid gold;
  }
  
  input,
  textarea,
  button {
    width: 100%;
    border: 1px solid #000;
  }
  
  .contactWrapper {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  .contactWrapper > * {
    padding: 1em;
  }
  @media (min-width: 700px) {
    .contactWrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content:center;
      
    }
    .contactWrapper > * {
      padding: 2em 2em;
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .contacts {
    background: #222;
    color: #fff;
    
  }
  
  .form {
    background: #fff;
    
  }
  
  form {
    display: grid;
    grid-gap: 20px;
  }
  form label {
    display: block;
  }
  form p {
    margin: 0;
  }
  
  .full-width {
    grid-column: 1 / 3;
  }
  
  button,
  input,
  textarea {
    padding: 1em;
  }
  
  button {
    background: lightgrey;
    width: 100%;
    border: 0;
  }
  button:hover, button:focus {
    background: gold;
    outline: 0;
  }
@media(orientation: portrait){
    h3 span::after{
        content: '\A';
        white-space: pre;

    }
  

    
}

@media(orientation: landscape){
    header img{
        height:100%;
        left:-30%;
        width:60%;
    }

    header hgroup{
        left:30%;
    }
}

@media(min-width: 375px) and (orientation:landscape){
    header img{
        height:100%;
        left: 0;
    }
}

@media(min-width: 375px){
    header img{
        left: -35%;
        height:70%;
    }
}

 @media(min-width: 700px){
    header img{
        left:0;
        width:100%;
        height:70%;
       
    }
    header hgroup{
        top:15%;
        left:50%;
        
    }

    header h1{
        font-size:3rem;
    }
    header h3{
        font-size:1.5rem;
    }

    .picture{
        width:60%;
    }
    .element1, .element2{
        flex-basis:  50%;
        flex-direction: column;
        align-items:center;
        }
    
        .m-halfbleed{
            max-width:1000px;
            margin:0 auto
        }

    .hobbyWrapper{
        flex-direction:row;
     

    }
    .box1, .box2, .box3, .box4, .box5, .box6{
        flex-basis:50%;
        
    }
    .contact {
        padding: 10%;
      }
}

@media(min-width:568px) and (orientation:landscape){
    .picture{
        width:45%;
    }
    .element1, .element2{
        flex-basis:  50%;
        flex-direction: column;
        align-items:center;
        }
    
        .m-halfbleed{
            max-width:1000px;
            margin:0 auto
        }
        
    .hobbyWrapper{
        flex-direction:row;
     

    }
    .box1, .box2, .box3, .box4, .box5, .box6{
        flex-basis:50%;
        
    }

    .box1{
        order:1;
    }
    
    .box2{
        order:2;
    }

    .box3{
        order:4;
    }
    
    .box4{
        order:3;
    }

    .box5{
        order:5;
    }

    .box6{
        order:6;
    }
    .contactWrapper{
        padding:50px;
    }
    

}
 @media(min-width: 1000px){
    header img{
     width: auto;
    height: 100%;
    position: relative;
    left: -40%;
       
    }

    header hgroup{
        top:23%;
        left:55%;
        
    }
    header h1{
        font-size:3.5rem;
    }
    header h3{
        font-size:1.6rem;
    }

    .flex-nav ul{
        flex-direction:row;
        flex-wrap:nowrap;
  
        width: 100%;
        height:10vh;
        
       
        
     }
  
    

    .flex-nav li{
        flex: 3;
    }

    .picture{
        width:45%;
        height:35em;

    }

    .picture:last-child{
        transform:rotate(5deg);
    }

    .picture img{
        width:70%;
       
        align-self:center;

    }

    .picture figcaption{
        text-align: center;
        line-height: 1;
        align-self: flex-start;
        margin:20px 25px;
        padding:5px;
    }

   
    

    
    
    

}

@media(min-width: 1000px) and (orientation:landscape){
    .picture{
        width:25%;
        height:30em;
        margin:30px 20px;
    }

    .picture:nth-child(odd){
        transform:rotate(5deg);
    }

    .picture:nth-child(even){
        transform:rotate(-5deg);
    }

    .picture img{
        width:60%;
        align-self:center;

    }

    .picture figcaption{
        font-size:13px;
        text-align: center;
        line-height: 1.5;
        align-self: flex-start;
    }

    .picture:hover{
        
        transform:scale(1.2);
    }
   
    
    header img{
       width: auto;
       height: 100%;
       position: relative;
       left: -40%;
    }   
    
          

}
    
@media(min-width: 1200px){
    header img{
        width: 100%;
        height: 99vh;
        position: relative;
        left: 0%;
     }  
}


@keyframes arrowColor{
    0% { text-shadow:0 15px 0 white, 0 30px 0 white}
    100% {color:white}

}